* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* variables */
    --headline01: #ea591a;
    --headline02: #d25215;
    --mark: #90cfd6;
    --mark01: #000000;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* GENERAL APPLICATION */
.container {
    /* border: 1px solid darkmagenta; */
    width: 90%;
    margin: 0 auto;
}

.flex {
    /* border: 1px solid darkcyan; */
    display: flex;
}

/* .content01 {
    border: 1px dashed darkgreen;
} */

/* .content02 {
    border: 1px dashed darkblue;
} */

section {
    border: 1px solid red;
    padding-block: 2rem;
}

.title {
    font-size: 3.2rem;
}

.subtitle {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    text-align: justify;
}

mark {
    background-color: var(--mark);
    border-radius: 0.8rem;
    padding: 0.2rem 0.8rem;
    font-weight: 700;
}

.detail {
    color: var(--headline01);
}

/* INTRODUCTION */
#introduction {
    background-color: black;
}

.introduction .flex {
    flex-direction: column;
    gap: 3.2rem;
}

h1.title {
    text-align: center;
    color: var(--headline01);
    font-weight: 900;
    margin-bottom: 3.2rem;
}

.introduction .content01 p {
    /* text-align: center; */
    line-height: 150%;
    margin-bottom: 1.6rem;
    color: white;
}

.introduction .content01 p:last-child {
    margin-bottom: 0;
}

/* FORM WITH MAILCHIMP */

form {
    color: white;
    padding-inline: 1.6rem;
    width: 28rem;
    height: 41.6rem
}

form h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    color: var(--headline02);
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.input-box label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.input-box input {
    border-radius: 0.4rem;
    height: 2.6rem;
    text-indent: 0.8rem;
    outline: none;
}

.input-box input:focus {
    color: var(--mark01);
    font-weight: 600;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
}

.checkbox label {
    font-size: 1.2rem;
    font-weight: 600;
}

.checkbox label a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ea591a;
}

.btn-submit input {
    display: block;
    margin: 2.4rem auto 0;
    padding: 1.6rem 3.2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #0d4484;
    color: white;
    font-weight: 600;
}

/* VANTAGES */
.vantages .flex {
    flex-direction: column;
    gap: 3.2rem;
}

.vantages h2.subtitle {
    line-height: 150%;
    text-align: center;
    margin-bottom: 2.4rem;
    color: var(--headline02);
}

ol {
    list-style-position: inside;
}

ol li {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    text-align: justify;
}

.img-vantages {
    width: 100%;
}

.vantages .content02 p {
    margin-top: 3.2rem;
}

.cta {
    display: block;
    margin: 2.4rem auto 0;
    padding: 1.6rem 3.2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #0d4484;
}

.cta a {
    color: white;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}



